<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055895930860-kl1tfmlgsriog60b225038b1c23taqm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055895930860-kl1tfmlgsriog60b225038b1c23taqm3</string>
	<key>API_KEY</key>
	<string>AIzaSyAfBbRVhMMx6DiMYmXgWX7e9Uj-PifkH7g</string>
	<key>GCM_SENDER_ID</key>
	<string>1055895930860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cow.iwaski.releaseAppFirestoreTutorialforiOS</string>
	<key>PROJECT_ID</key>
	<string>fir-intro-400a5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-intro-400a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055895930860:ios:4e2194bcb6e8110c84e2c9</string>
</dict>
</plist>